body{
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    background-color: #ffb600;
}

header {
    background-image: url('9-assets/anchorman\ banner.jpg');
    background-size: 100vw 16vh;
    width: 99vw;
    height: 15vh;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.socialMedia {
    width: 4vw;
    height: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.socMedList {
    float: right;
    padding: 0;
    margin: 5px 5px 5px 5px;
}

.searchButton {
    height: 40px;
    font-size: 30px;
}

#siteName {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin: 0;
    display: inline-block;
}

.navButtonBanner{
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    max-width: 100vw;
    overflow: hidden;
    background-color: #1e4211;
}

.navButtonList {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.navButton {
    display: block;
    color: white;
    background-color: #1e4211;
    text-align: center;
    text-decoration: none;
    padding: 1vh 8.4vw 1vh 8.4vw;
}

.navButton:hover{
    background-color: white;
    color: #1e4211;
}

.storeItems{
    width: 83vw;
    height: 700px;
    /* border: 2px solid black; */
    display: inline-block;
    padding: 0px 0.5vw 50px 2.5vw;
    /* overflow: hidden; */
    margin: 0;
}

.productLabel {
    background-color: white;
    width: 37vw;
    height: 35vh;
    margin: 50px 3.5vw 0px 0px;
    padding: 0;
    display: inline-block;
    border-radius: 3%;
}

.picContainer {
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.productPic {
    max-width: 100%;
    height: 100%;
    border-radius: 4%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.textContainer {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    color: #1e4211;
}

.rightBanner {
    display: inline-block;
    width: 11.7vw;
    height: 700px;
    margin: 0;
    vertical-align: top;
    padding: 0px 0px 50px 10px;
    border-color: #1e4211;
    background-color: white;
    border-style: solid;
    border-width: 0px 0px 0px 4px;
}

#missionHeading {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    /* background-color: #1e4211; */
    vertical-align: top;
    color: #1e4211;
    margin: 45px 0px 0px 0px;
}

.storeMission {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e4211;
}

#toiletPic {
    margin: 0;
    padding: 100px 0 0 0;
    max-width: 100%;
}

footer {
    background-color: #1e4211;
    padding: 0;
}

#storeInfo {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.productDesc {
    font-size: 15px;
}